.button, button, input[type="submit"], input[type="reset"], input[type="button"] {
    position: relative;
    display: inline-block;
    height:  30px;
    line-height: 28px;
    padding: 0 14px;
    color: white;
    text-align: center;
    border-radius: 2px;
    font-size: 13px;
    font-weight: normal;
    text-transform: capitalize;
    text-decoration: none;
    white-space: nowrap;
    background-color: #129fdd;
    border: 1px solid #129fdd;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.button:hover, button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
    color: white;
    background-color: #275482;
    border-color: #275482;
}
button, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover{
  cursor: pointer;
}
.button:focus, button:focus, input[type="submit"]:focus, input[type="reset"]:focus, input[type="button"]:focus {
    outline: 0;
}
.button.second, button.second, input[type="submit"].second,input[type="reset"].second, input[type="button"].second {
    color: #129fdd;
    background-color: transparent;
    border-color: #129fdd;
}
.button.second:hover, button.second:hover, input[type="submit"].second:hover, input[type="reset"].second:hover, input[type="button"].second:hover {
    color: #FFF;
    background-color: #129fdd;
    border-color: #129fdd;
}

.button.disabled, button:disabled, input[type="submit"]:disabled, input[type="reset"]:disabled, input[type="button"]:disabled, .button.disabled:hover, button:disabled:hover{
    border-color: #dcdcdc;
    color:#929292!important;
    background:#e6e6e6!important;
}

.button.big, button.big, input[type="submit"].big, input[type="reset"].big, input[type="button"].big{
    height: 35px;
    line-height: 33px;
    font-size: 15px;
    padding: 0 18px;
}

.button.small, button.small, input[type="submit"].small, input[type="reset"].small, input[type="button"].small{
    height: 23px;
    line-height: 21px;
    font-size: 10px;
}

.button.icon, button.icon, input[type="submit"].icon, input[type="reset"].icon, input[type="button"].icon{
    height: 30px;
    width: 30px;
    padding: 0;
    line-height: 25px;
}

.button i, button i{
    position: relative;
    top: -1px;
}
