

ul.rulist{
	padding: 0;
}

ul.rulist li{
	list-style: none;
	margin-bottom: 15px;
}

ul.rulist li:before,ul.rulist li:after{ content:""; display: table; clear:both; }

ul.rulist li .image{
	float: left;
}

ul.rulist li .content{
	float: left;
	margin-left: 15px;

}
ul.rulist li .content>*{
	margin: 0px;
}



