@import 'normalize';
@import 'navbar';
@import 'button';
@import 'grid';
@import 'form';
@import 'card';
@import 'ionicon';

*{ margin: 0; padding: 0; }

html { height: 100%; -ms-overflow-style: scrollbar; -webkit-tap-highlight-color: transparent; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
	min-height: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	font-weight: normal;
	line-height: 1.5;
	color: #545454;
	background-color: #f1f3f6;
	text-rendering: optimizeLegibility;
}

a{
    color: #129fdd;
    text-decoration: none;
    -webkit-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, outline .3s ease;
    -moz-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, outline .3s ease;
    -ms-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, outline .3s ease;
    -o-transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, outline .3s ease;
    transition: background-color .3s ease, border .3s ease, color .3s ease, opacity .3s ease-in-out, outline .3s ease;}
    
a:hover, a:active { 
    color: #129fdd;}
    
a:focus{
    outline:0;}
    
a.invert{
    color: #8E8E8E;}

::-webkit-selection{
    background: #000;
    color: #fff;
    text-shadow: none;}
    
::-moz-selection{
    background: #000;
    color: #fff;
    text-shadow: none;}
    
::selection{
    background: #000;
    color: #fff;
    text-shadow: none;}
    
h1, h2, h3, h4, h5, h6 { 
    font-weight: 700;
    text-transform: capitalize;
    margin: 0;}
    
h1{
    font-size: 22px;}
    
h2{
    font-size: 18px;}
    
h3{
    font-size: 14px;}
    
h4{
    font-size: 13px;}
    
h5{
    font-size: 11px;}
    
h6{
    font-size: 13px;}
    
p{
    margin: 10px 0;
    letter-spacing: 0.1px;}

p:first-child{
    margin-top: 0;}
    
ul, ol{
    padding: 5px 30px;}
    
ul li, ol li{
    list-style-type: disc;}
    
ul:before,ul:after,ol:before,ol:after{
    content: "";
    display: table;
    clear: both;}
    
ul.inline li, ol.inline li{
    float: left;}
    
blockquote {
    background: #f5f8fa;
    border-left: 4px solid #ccc;
    margin: 20px 10px;
    padding: 24px;
    quotes: "“" "”" "‘" "’";}
    
blockquote:before{
    color: #ccc;
    font-family: "Ionicons";
    content: "\f347";
    font-size: 20px;
    margin-right: 10px;}
    
blockquote p{
    display: inline;}
    
pre{
    border: 1px solid #bfbfbf;}
    
code{
    padding: 2px 5px;
    font-size: 90%;
    white-space: nowrap;
    background: #f7f7f9;
    border-radius: 2px;}
    
pre > code{
    display: block;
    white-space: pre;}
    
img,svg{
    height: auto;
    vertical-align: middle;}

/*classes helper*/
.container{
    position: relative;
    max-width: 1200px;
    margin: 0 auto;}
    
.clear{
    position: relative; }
    
.container:before,.container:after,.clear:before,.clear:after{
    content: "";
    display: table;
    clear: both;}
    
@media (max-width: 1200px) {
	.container{
		padding: 0 30px;}
}

.fl-left{
    float: left}
    
.fl-right{
    float: right;}
    
.bold{
    font-weight: bold;}

.greytext{
    color: #9e9e9e;}

.bigtext{
    font-size: 17px;}

.no-padding{
    padding: 0!important;}

.no-top-padding{
    padding-top: 0!important;}

.no-bottom-padding{
    padding-bottom: 0!important;}

.no-left-padding{
    padding-left: 0!important;}

.no-right-padding{
    padding-right: 0!important;}

.no-margin{
    margin: 0!important;}

.no-top-margin{
    margin-top: 0!important;}

.no-bottom-margin{
    margin-bottom: 0!important;}

.no-left-margin{
    margin-left: 0!important;}

.no-right-margin{
    margin-right: 0!important;}

.animation{-webkit-transition: all 0.2s ease-out;transition: all 0.2s ease-out; }
.box-shadow{-webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.4); -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.4); box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.4);}
.mask{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255,255,255,0);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 47%, rgba(0,0,0,0.27) 77%, rgba(0,0,0,0.69) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,0)), color-stop(47%, rgba(255,255,255,0)), color-stop(77%, rgba(0,0,0,0.27)), color-stop(100%, rgba(0,0,0,0.69)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 47%, rgba(0,0,0,0.27) 77%, rgba(0,0,0,0.69) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 47%, rgba(0,0,0,0.27) 77%, rgba(0,0,0,0.69) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 47%, rgba(0,0,0,0.27) 77%, rgba(0,0,0,0.69) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 47%, rgba(0,0,0,0.27) 77%, rgba(0,0,0,0.69) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000', GradientType=0 );
}

body{padding-top:0px;}
body header{position:fixed;width:100%;z-index:9999;top:0;}



.snippet a{text-transform : capitalize; }
pre{visibility: hidden; opacity: 0; height: 0;-webkit-transition: all 0.2s ease-out;transition: all 0.2s ease-out;}
pre.active{visibility: visible; opacity: 1; height: auto;}

section{padding: 30px 0;}
article{padding: 30px; margin-bottom :15px;background: white;}
article nav{border: 1px solid #ebebeb; margin: 10px 0;}


.testbox, .testbox *{
    outline: 1px solid #275482;
}

.testbox p {
 background-color: #d1edf9; 
 padding: 0;
 margin: 0;
 text-align: center; 
 line-height: 60px;
}

.space-top{
    margin-top:64px
}