*{ margin: 0; padding: 0; }

html { 
    height: 100%;}

body {
    position: relative;
	min-height: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: $body-font-size;
	font-weight: normal;
	line-height: 1.5;
	color: $fontcolor1;
	background-color: $background1;
	text-rendering: optimizeLegibility;
}

a{
    color: $color1;
    text-decoration: none;
    @include transition(all 0.3s ease);
    
    &:hover, &:active{
        color: $color1;}
    
    &:focus{
        outline:0;}
    
    a.invert{
        color: #8E8E8E;}}
  
::-webkit-selection{
    background: #000;
    color: #fff;
    text-shadow: none;}
    
::-moz-selection{
    background: #000;
    color: #fff;
    text-shadow: none;}
    
::selection{
    background: #000;
    color: #fff;
    text-shadow: none;}
    
h1, h2, h3, h4, h5, h6 { 
    font-weight: 700;
    text-transform: capitalize;
    margin: 0;
    color: $fontcolor2;}
    
h1{
    font-size: 22px;}
    
h2{
    font-size: 18px;}
    
h3{
    font-size: 14px;}
    
h4{
    font-size: 13px;}
    
h5{
    font-size: 11px;}
    
h6{
    font-size: 13px;}
    
p{
    margin: 10px 0;
    letter-spacing: 0.1px;
    
    &:first-of-type{
        margin-top: 0;}}

ul, ol{
    padding: 5px 30px;
    @extend .clear;
    
    &.inline li{
        float: left;}
    
    li{
        list-style-type: disc;}}

    
blockquote {
    background: #f5f8fa;
    border-left: 4px solid #ccc;
    margin: 20px 10px;
    padding: 24px;
    quotes: "“" "”" "‘" "’";
    
    &:before{
        color: #ccc;
        font-family: "Ionicons";
        content: "\f347";
        font-size: 20px;
        margin-right: 10px;}
    
    p{
        display: inline;}}
    
    
pre{
    border: 1px solid #bfbfbf;
    code{
        display: block;
        white-space: pre;
        padding: 2px 5px;
        font-size: 90%;
        white-space: nowrap;
        background: #f7f7f9;
        border-radius: 2px;}}
    
img,svg{
    height: auto;
    vertical-align: middle;}

/*classes helper*/
.clear{
    &:before,&:after{
        content: "";
        display: table;
        clear: both;}}

.container{
    max-width: $container-maxwidth;
    margin: 0 auto;
    @extend .clear;}
    

    
@media (max-width: $container-maxwidth) {
	.container{
		padding: 0 30px;}
}

.fl-left{
    float: left}
    
.fl-right{
    float: right;}
    
.bold{
    font-weight: bold;}

.greytext{
    color: #9e9e9e;}

.bigtext{
    font-size: $big-font-size;}

.no-padding{
    padding: 0!important;}

.no-top-padding{
    padding-top: 0!important;}

.no-bottom-padding{
    padding-bottom: 0!important;}

.no-left-padding{
    padding-left: 0!important;}

.no-right-padding{
    padding-right: 0!important;}

.no-margin{
    margin: 0!important;}

.no-top-margin{
    margin-top: 0!important;}

.no-bottom-margin{
    margin-bottom: 0!important;}

.no-left-margin{
    margin-left: 0!important;}

.no-right-margin{
    margin-right: 0!important;}

.animation{
    @include transition(all 0.2s ease-out);}

.box-shadow{
    @include boxshadow(0px 0px 1px 0px rgba(0, 0, 0, 0.4))}

.divider{
    width: 100%;
    height: 1px;
    background: #E5E5E5;
    margin: 5px 0;}
