.row{
    position: relative;
    @extend .clear;
}

.col{
    float: left;
    min-height: 1px;
    width: 16.66%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.col-1 {
    width: 8.33333333%;
    @extend .col;}

.col-2 {
    width: 16.66666667%;
    @extend .col;}

.col-3 {
    width: 25%;
    @extend .col;}

.col-4 {
    width: 33.33333333%;
    @extend .col;}

.col-5 {
    width: 41.66666667%;
    @extend .col;}

.col-6 {
    width: 50%;
    @extend .col;}

.col-7 {
    width: 58.33333333%;
    @extend .col;}

.col-8 {
    width: 66.66666667%;
    @extend .col;}

.col-9 {
    width: 75%;
    @extend .col;}

.col-10 {
    width: 83.33333333%;
    @extend .col;}

.col-11 {
    width: 91.66666667%;
    @extend .col;}

.col-12 {
    width: 100%;
    @extend .col;}

.flexbox{
	@include flexbox();}

.flex1{
    @include flex(1);}

.flex2{
    @include flex(2);}

.flex3{
    @include flex(3);}

/* flexbox for specific width */
.unflex{
     @include flex(initial);}

.big-pad{
    padding: 30px;}

.med-pad{
    padding: 20px;}

.sma-pad{
    padding: 12px;}

@media (max-width: 720px) {
    .flexbox{
        -webkit-flex-direction: column; 
        flex-direction: column;}
    
    [class*='col-'] {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .big-pad{
        padding: 16px;}

    .med-pad{
        padding: 12px;}

    .sma-pad{
        padding: 8px;}
}