$navbar-height: 50px;
$input-height: 30px;

$container-maxwidth : 1200px;

//font
$body-font-size: 13px;
$big-font-size: 17px;

$logo-text-size: 30px;
$logo-image-size: 30px;


//color
$color1: #129fdd;
$color2: #275482;
$color3: white;

$fontcolor1: #545454;//body/overall
$fontcolor2: #545454;//h tag
$fontcolor3: #545454;

$white: white;
$black: black;

$error-color: #d9534f;
$success-color: #5cb85c;

$background1: #f1f3f6;


@mixin transform($action) {
    -webkit-transform: $action;
    -moz-transform:    $action;
    -ms-transform:     $action;
    -o-transform:      $action;
    transform:         $action;}

@mixin boxshadow($shadow) {
    -webkit-box-shadow: $shadow; 
    -moz-box-shadow: $shadow; 
    box-shadow: $shadow;}

@mixin transition($animation){
    -webkit-transition: $animation;
    -moz-transition: $animation;
	transition: $animation;}

@mixin flexbox{
    display: -webkit-box;
 	display: -moz-box;
 	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;}

@mixin flex($val){
    -webkit-box-flex: $val;
    -moz-box-flex: $val;
    -webkit-flex: $val;
    -ms-flex: $val;
    flex: $val;}
