.profile-box{
	box-sizing: border-box;
	padding: 12px;
	&-col-1{
		@extend .col-1;
		width: 10.333333%;
	}
	&-col-11{
		@extend .col-1;
		width: 77.666667%;
		padding-left: 12px;
	}
	#pic-box{
		border: 1px solid black;
		width:120px;
		height:120px;
    	display: block;
		margin: 0 auto;
		margin-bottom: 12px;
	}
	&-upload-btn{
		margin: 0 auto;
    	display: block;
	}
	.form{
		>div{
			margin-bottom: 12px;
		}
	}
}