    <footer class="navbar">
        <div class="container">
            <div class="nav-item">
                <p>Copyright &#64; 2017</p>
            </div>
        </div>
    </footer>
    </body>
</html>