<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<meta content="{{csrfToken}}" name="_csrf" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{base_url}}/static/dist/assets/css/style.css">
	<script type="text/javascript" src="{{base_url}}/static/dist/bundle.js"></script>
</head>
<body>